.container {
  margin-left: 15%;
  margin-right: 15%;
  height: 100vh;
  background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.listArea {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.pokemonList {
  column-count: 4;
  column-gap: 30px;
  list-style-type: none;
}
li {
  margin-bottom: 20px;
}
li::first-letter {
  text-transform: capitalize;
}
a {
  color: black;
}
@media (max-width: 576px) {
  .container {
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
    background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%);
  }
  .pokemonList {
    padding-left: 0;
    column-count: 2;
    list-style-type: none;
  }
  .listArea {
    padding-top: 10vh;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
}
