.App {
  display: flex;
  justify-content: center;
  padding-top: 25%;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
ul {
  column-count: 4;
  column-gap: 30px;
  list-style-type: none;
}
